<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated WorkFlowMM -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="WorkFlowMM.presentation.WorkFlowMMModelWizardID"
            name="%_UI_WorkFlowMMModelWizard_label"
            class="WorkFlowMM.presentation.WorkFlowMMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WorkFlowMMModelFile.gif">
         <description>%_UI_WorkFlowMMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated WorkFlowMM -->
      <editor
            id="WorkFlowMM.presentation.WorkFlowMMEditorID"
            name="%_UI_WorkFlowMMEditor_label"
            icon="icons/full/obj16/WorkFlowMMModelFile.gif"
            extensions="workflowmm"
            class="WorkFlowMM.presentation.WorkFlowMMEditor"
            contributorClass="WorkFlowMM.presentation.WorkFlowMMActionBarContributor">
      </editor>
   </extension>

</plugin>
